<IfModule mod_rewrite.c>
    RewriteEngine On

    # Exclude specific directories from the rewrite
    RewriteRule ^(?:public/(?:js|css|img)/) - [L]

    # Rewrite all other requests to app/routes/RouteHandler.php?url=<request>
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app/Routes/App.php?url=$1 [QSA,L]
</IfModule>